main {
  margin: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

canvas {
  border: 1px solid #cccccc;
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
}
