* {
  box-sizing: border-box;
}

/* workaround related to setting auto-focus on App outter div*/
.body-container:focus {
  outline: 0;
}

canvas {
  border: 1px solid #cccccc;
  position: absolute;
  left: 170px;
  top: 0;
}

.button-container {
  float: left;
  display: flex;
  flex-flow: column nowrap;
}

/* ShapeEditor */

.editor-container {
  float: right; 
  padding: 0 12px;
  /* hard coded height because otherwise the canvas was stretching vertically */ 
  height: 500px;
  overflow-y: auto;
}

.circle-editor-container,
.rectangle-editor-container {
  width: 220px;
  border: 1px solid #cccccc;
  margin-bottom: 18px;
  padding: 12px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}