main {
  margin: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

canvas {
  border: 1px solid #cccccc;
}

.button-container {
  display: flex;
  flex-flow: column nowrap;
}

/* ShapeEditor */

.editor-container {
  padding: 0 12px;
}

.circle-editor-container,
.rectangle-editor-container {
  width: 220px;
  border: 1px solid #cccccc;
  margin-bottom: 18px;
  padding: 12px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}